body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/* *********************************************** */


/*              global styles
/* *********************************************** */

h2 {
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 36px;
}

.container {
    margin-bottom: 100px;
}


/* *********************************************** */


/*               custom color
/* *********************************************** */

.orange-btn {
    background-color: #E76F51;
    color: #fff;
}

.orange-color {
    color: #E76F51;
}

.text-gray {
    color: #E0E0E0;
    font-size: 16px;
}

.nav-item .nav-link {
    color: #fff;
}


/* *********************************************** */


/*              custom styles */


/* *********************************************** */

.hero-container,
.custom-bg-green {
    background-color: #264653;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.accordion-body {
    color: #7E848C;
}

.gray-image {
    filter: grayscale(100%);
}

.bike-card:hover .card-hr-line {
    color: blue;
}

.empty-star {
    color: #FFC107;
}


/* ---------------------------- 
         bike card hover   
--------------------------------*/

.item-image {
    overflow: hidden;
    height: 12rem;
}

.item:hover {
    cursor: pointer;
}

.item-image img {
    /* height: 7.5rem; */
    transition: transform 0.2s ease-in-out;
}

.item:hover img {
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
}


/* ---------------------------- 
         bike card hover   
--------------------------------*/